<form class="emp-form" #petForm="ngForm" (ngSubmit)="onSubmit(petForm)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="petService.selectedPet.id">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="petService.selectedPet.name"
             placeholder="name" required>
      <div class="validation-error" *ngIf="name.invalid && name.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="age" #age="ngModel" [(ngModel)]="petService.selectedPet.age" placeholder="age"
             required>
      <div class="validation-error" *ngIf="age.invalid && age.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!petForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(petForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
